<div class="row">
  <div class="col-sm-3">
    <label class="control-label">Select Project:</label>
    <div class="form-group">
      <select id="tokenDBSelect" ng-model="database" ng-change="changeDB()" class="form-control">
        <option ng-repeat="project in projectIDs" value="{{project}}">{{project}}</option>
      </select>
    </div>
  </div>
  <div class="col-sm-3">
    <label class="control-label">Username:</label>
    <input type="text" ng-model="username" class="form-control" />
  </div>
  <div class="col-sm-4">
    <label class="control-label">Search Between Dates:</label>
    <div class="input-daterange input-group" id="">
      <input type="text" ng-model="minCreatedOn" class="form-control" name="start" />
      <span class="input-group-addon">to</span>
      <input type="text" ng-model="maxCreatedOn" class="form-control" name="end" />
    </div>
  </div>
  <div class="col-sm-1">
    <button class="btn btn-primary" style="margin-top: 25px" ng-click=search()>Search</button>
  </div>
</div>
<div style="margin-top: 15px;">
  <div class="pull-left">
    <label class="control-label">{{feedback}}</label>
    <br>
    <ul class="pagination" style="margin: 0px;">
      <li><a ng-click="changePage(-1)" role="button" href=""><span aria-label="Previous">«</span></a></li>
      <li><input disabled style="width: 50px; float: left" class="form-control" ng-change="search()" ng-model="page" value=0/></li>
      <li><a ng-click="changePage(1)" role="button" href=""><span aria-label="Next">»</span></a></li>
    </ul>
  </div>
  <div class="pull-right">
    <label class="control-label">Results Per Page:</label>
    <br>
    <form style="margin-top: 5px;">
      <input checked=true ng-model="perPage" type="radio" value="10">&nbsp;10&nbsp;
      <input ng-model="perPage" type="radio" value="15">&nbsp;15&nbsp;
      <input ng-model="perPage" type="radio" value="20">&nbsp;20&nbsp;
    </form>
  </div>
</div>
<table class="table table-striped table-hover table-bordered results-table">
  <thead>
    <tr>
      <th class="sort-table-header" ng-click="changeSort('Token')">Token</th>
      <th class="sort-table-header" ng-click="changeSort('UserID')">Role ID</th>
      <th class="sort-table-header" ng-click="changeSort('CreatedOn')">Created On</th>
      <th class="sort-table-header" ng-click="changeSort('ExpiresOn')">Expires On</th>
      <th class="sort-table-header" ng-click="changeSort('ProjectID')">Project ID</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="token in AuthToken">
      <td class="break">
        <a style="cursor: pointer; width:15%" onclick="toggleToken($(this))"><i class="fa fa-plus" aria-hidden="true"></i></a>
        <input onclick="selectText($(this))" class="tokenField" readonly value={{token.Token}} style="display:none">
      </td>
      <td>{{token.UserID}}</td>
      <td>{{token.CreatedOn}}</td>
      <td>{{token.ExpiresOn}}</td>
      <td>{{token.ProjectID}}</td>
    </tr>
  </tbody>
</table>